body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(0, 219, 226));
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #002127;
    margin-bottom: 40px;
    font-size: 2.5em;
}

.post-form {
    background: linear-gradient(rgb(0, 0, 0), rgb(0, 219, 226));
    padding: 36px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border: 2px solid #00191a;
}

.post-form input, .post-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.post-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background: linear-gradient(rgb(53, 168, 0) , rgb(0, 0, 0));
    color: #00b6bd;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.post-form button:hover {
    background: linear-gradient(rgb(0, 219, 226) , rgb(0, 0, 0));
    color: #04f7ff;
}

.post-list {
    list-style-type: none;
    padding: 0;
}

.post-list li {
    background: linear-gradient(rgb(0, 219, 226) , rgb(0, 0, 0));
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid #00f7ff;
}

.post-list li h2 {
    margin-top: 0;
}

.post-list li p {
    color: #ffffff;
    margin-bottom: 5;
}

.post-list li a {
    text-decoration: none;
    color: #002127;
    font-weight: bold;
}

.post-list li a:hover {
    text-decoration: underline;
}

.delete-button {
    display: inline-block;
    padding: 8px 20px;
    background-color: #e05616;
    color: #fff;
    border: 1px solid #ffffff;
    text-decoration: none;
    border-radius: 20px;
    margin-left: 10px;
    right: 50%;
}

.delete-button:hover {
    background-color: #e78d51;
}

footer{
    text-align: center;
}

.social-links{
    display: inline-block;
    color: #ddd;
    padding: 10px 80px;
    background-color: #06a6ac;
    border: 2px #002127;
    text-decoration: none;
    border-radius: 20px;
    margin-left: 10px;
}

